# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/Debug/
/Release/
/x64/
/NTFS-recovery.VC.opendb
/NTFS-recovery.sdf
/NTFS-recovery.sln
/NTFS-recovery.vcxproj
/NTFS-recovery.vcxproj.filters
/back
/boot_sector
/dumpA
/dumpB
/dumpC
/DUMP
/2INDEX
/DOT
/Test
